:root {
    --color1: #0D0D0D;
    --color2: #2ECC71;
    --color3: #1A472A;
    --color4: #1C1C1E;
    --color5: #A1FFCE;
    --color5_faded: #A1FFCE33;
    --color5_faded2: #A1FFCE55;
    --color6: #00FF41;
    --color7: white;
}

* {
    font-family: "Roboto Mono", sans-serif;
}

::selection {
    background-color: var(--color6);
    color: var(--color4);
}

a {
    text-decoration: none;
}

html {
    background-color: var(--color1);
}

.mono {
    font-family: "Roboto Mono", monospace;
    font-size: 1.2em;
    font-weight: 500;
}

body {
    position: absolute;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    background-color: var(--color4);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
    height: 20px;
}

#copyright {
    color: var(--color5_faded);
    position: absolute;
    right: 10%;
}

#copyright a {
    position: relative;
    color: var(--color5_faded)
}

#copyright a:hover {
    color: var(--color6);
    transition: 1s;
}

#copyright a::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: var(--color6);
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

#copyright a:hover::after {
    width: 100%;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: var(--color6);
}

.btn:hover {
    background-color: var(--color5);
}

.btn:active {
    background-color: var(--color6);
}

#div-actions {
    flex-direction: row;
    position: relative;
    height: 50px;
}

#app-title {
    margin-top: 0;
    font-size: 2.5em;
    color: var(--color6);
}

.action-button {
    border: none;
    border-radius: 100%;
    height: 30px;
    aspect-ratio: 1;
}

#open-info {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: var(--color5_faded);
}

#close-info {
    position: absolute;
    top: 65px;
    right: 40px;
}

#info-modal {
    position: absolute;
    width: 600px;
    height: 450px;
    background-color: #0D0D0DAA;
    color: var(--color5);
}

#open-info:hover {
    background-color: var(--color5_faded2);
}

#open-info:active {
    background-color: var(--color3);
}

#get-input {
    outline: none;
    caret-shape: underscore;
}

#get-input:focus {
    outline: solid var(--color6) 3px;
    caret-color: var(--color6);
}

.pwd-display {
    margin: 20px 0;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    background-color: var(--color7);
    border: none;
    color: var(--color3);
}

.btn-encrypt {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
}

#encode {
    left: 50px;
}

#decode {
    right: 50px;
}


#encryption-type {
    position: absolute;
    transform: translate(-50%, 0);
    padding: 10px 50px;
    border: none;
    height: 100%;
    width: 40%;
    font-size: 0.9em;
    font-weight: 800;
    border-radius: 20px;
    background-color: var(--color5_faded);
    color: var(--color6);
    cursor: pointer;
}

#encryption-type:hover {
    background-color: var(--color5_faded2);
}

#encryption-type:active {
    background-color: var(--color3);
}

#output-field {
    position: relative;
    height: 30px;
    border: solid var(--color7);
}

#output-text {
    position: absolute;
    display: block;
    width: 100%;
    overflow: hidden;
}

.abs-centered {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.copy-button {
    position: absolute;
    height: 100%;
    transform: translate(0%, -50%);
    top: 50%;
    bottom: 50%;
    right: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sm-link {
    height: 20px;
    aspect-ratio: 1;
    padding: 2px;
    border-radius: 100%;
}

.sm-link span {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
}

/** MEDIA QUERIES **/

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    main {
        width: 350px;
        height: 400px;
        margin: 0;
        padding: 30px 0;
    }

    #open-info {
        top: 20px;
        right: 20px;
    }

    #info-modal {
        width: 350px;
        height: 550px;
    }

    #close-info {
        top: 30pxpx;
        right: 20px;
    }

    .pwd-display {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: .8rem;

    }

    #encryption-type {
        font-size: .8em;
        background-color: var(--color5);
    }

    #encode {
        left: 30px;
    }

    #decode {
        right: 30px;
    }

    footer {
        bottom: -25px;
    }

    #copyright a {
        color: var(--color6);
    }

    #copyright a::after {
        bottom: -2px;
        left: 50%;
        width: 100%;
        height: 3px;
        background-color: var(--color6);
    }
}